* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.page{
    margin-bottom: 200px;
}

.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width:100%;
    padding:20px;
    overflow:hidden;
}

h1 {
    font-size: 28px;
    color: rgb(2, 2, 2);
    font-weight: 600;
    display: flex;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
    align-self: flex-start;
}

.progressline {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
}

.progressline::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: 1;
}

.progresslight {
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: 2;
    transition: width 0.4s ease; /*animation*/
}

.step{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid;
    border-color:#111827;
    color:#111827;
    background-color: #e1e4ec;
    position:relative;
    z-index: 3;
}   

.slider{
    display:flex;
    width:300%;
    transition: transform 0.7s ease;
}

.inputName{
    width:33.333%;
}

.inputEmail{
    width:33.333%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.inputPassword{
    width:33.333%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:15px;
}

.labelname{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.headername{
    margin-top: 10px;
    font-size: 22px;
}

.fullname{
    width: 100%;
    padding: 20px 200px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 15px;
    font-size: 17px;
    margin-top: 10px;
}

.surname{
    width: 100%;
    padding: 20px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 15px;
    font-size: 17px;
}

.email{
    width: 100%;
    padding: 20px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 15px;
    font-size: 17px;
}

.password{
    width: 100%;
    padding: 20px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 15px;
    font-size: 17px;
}

.Continue{
    display: flex;
    justify-content: end;
    margin-top: 70px;
    padding:20px;
}

.Continuebutton{
    font-weight: 700;
    font-size:15px;
    border-radius: 100px;
    padding: 10px 20px;
    border:1px solid lightgray;
    cursor:pointer;
}

.Continuebutton:hover{
    transform: scale(1.02);
}

.Continuebutton:active{
    transform: scale(0.95);
}
